---
import Layout from "@/layouts/Layout.astro";
import TokensView from "@/components/tokens/TokensView";
---

<Layout title="Masz Pan: Moje żetony">
  <main class="container mx-auto pb-8">
    <TokensView client:load />
  </main>
</Layout>
